<div class="product-card">
  <div class="product-card__title">
    <h2 class="product-card__title-text">Strawberry Cake</h2>
    <div class="product-card__tags">
      <app-badge
        [icon]="badge.icon"
        [bgColor]="badge.bgColor"
        *ngFor="let badge of badgesData"
      ></app-badge>
    </div>
  </div>

  <img
    class="product-card__image"
    src="assets/images/banners/banner1.png"
    alt="product image"
  />

  <div class="product-card__details">
    <p class="product-card__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt.
    </p>

    <div class="product-card__pricing">
      <div class="product-card__price-container">
        <p class="product-card__price-current">$13.90</p>
        <p class="product-card__price-old">$18.90</p>
      </div>

      <app-button [type]="'variant2'" [label]="'Order now'"></app-button>
    </div>
  </div>
</div>
