//Colores
$purple-color: #c123ea;
$pink-color: #fd1959;
$orange-100: #f98771;
$green-color: #2ecc71;

//Colores standars
$standard-100: #ffffff; 
$standard-200: #fbfbfb; 
$standard-400: #ababab; 
$standard-500: #9b9b9b; 
$standard-600: #bacad8; 
$standard-900: #333333; 
$standard-1000: #000000; 

//Tipografia
$font-family: "Roboto", sans-serif;