<div class="item-card">
  <div class="item-card__image-container">
    <img
      class="item-card__image"
      src="assets/images/banners/banner2.png"
      alt="Banner from item card image"
    />
  </div>
  <div class="item-card__content">
    <h1 class="item-card__title">UI card long title for test</h1>
    <p class="item-card__description">
      Minim dolor in amet nulla laboris enim dolore consequat.
    </p>
    <app-button
      class="item-card__button"
      [type]="'variant4'"
      [label]="'Action now'"
    ></app-button>
  </div>
</div>
