<div class="card">
  <div class="card__background">
    <app-avatar
      class="card__avatar"
      image="assets/images/users/user-6.jpg"
      [size]="'large'"
    ></app-avatar>
  </div>
  <div class="card__content">
    <h4 class="card__user-name">Savannah Nguyen</h4>
    <p class="card__user-job">Web Development</p>
    <div class="card__button-group">
      <app-button [type]="'variant2'" [label]="'Button'"></app-button>
      <app-button [type]="'variant3'" [label]="'Button'"></app-button>
    </div>
  </div>
</div>
